<h5 class="text-md-center m-5">Search for Flights</h5>

<div class="m-5 d-grid gap-3">
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input placeholder="From" class="form-control" />
        <label class="text-primary form-label">From</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input placeholder="Destination" class="form-control" />
        <label class="text-primary form-label">Destination</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input type="date" placeholder="From Date" class="form-control" />
        <label class="text-primary form-label">From Date</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input type="date" placeholder="To Date" class="form-control" />
        <label class="text-primary form-label">To Date</label>
      </div>
    </div>
  </div>

  <div class="col text-end">
    <label class="form-label text-primary mt-2">
      Passengers
    </label>
  </div>
  <div class="col">
    <div class="input-group">
      <div class="input-group-text">For</div>
      <input class="form-control" type="number" placeholder="1" />
      <div class="input-group-text">Passengers</div>
      <button type="submit" class="btn-primary btn">
        Submit
      </button>
    </div>
  </div>
</div>





<div *ngFor="let flight of searchResult">
  <div class="card text-dark mt-5 text-md-center">
    <div class="card-body">
      <h6  class="card-title">{{flight.airline}}</h6>
      <div class="card-title" style="color:#ff3939">
        {{flight.remainingNumberOfSeats}} remaining seats
      </div>

      <div class="d-grid text-md-center g-2">
        <div class="row">
          <div class="col">

            <div class="col m-3">

            </div>

            <div class="col">

            </div>

            <div class="col">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
